<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/welcome.jpg" alt="" />
      <ion-card-header>
        <ion-card-title><h1>Welcome to Narriott</h1></ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>A HOTEL THAT YOU WILL NEVER FORGET.</p>
      </ion-card-content>

      <ion-card-content>
        <p style="font-size: 20px">
          At Narriott, our discerning international clientele expects the best,
           and Narriott delivers it every time. Whether you're traveling on business, 
           on a honeymoon, or vacation, Narriott has a room and service package for you. 
           Take advantage of our year-round mountain resort, featuring endless opportunities 
           for family activities, skiing, luxury shopping and much more.
        </p>
        <p style="font-size: 20px">
          Narriott: Worldwide Excellence.
        </p>
      </ion-card-content>
    </ion-card>
</ion-content>
